<h3>Listagem de Cursos</h3>
<hr>
<a class="btn btn-primary btn-sm pull-right" href="#!/curso/novo">
    <span class="glyphicon glyphicon-plus"></span>    
    Novo Curso
</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-md-1">Id</th>
            <th class="col-md-3">Nome</th>
            <th class="col-md-3">Duração</th>
            <th class="col-md-3">Período</th>
            <th class="col-md-2 text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="5">
                <input type="text" class="form-control input-sm" ng-model="filtro" placeholder="Filtrar..." />
            </td>
        </tr>
        <tr ng-repeat="curso in vm.cursos | filter : filtro">
            <td style="vertical-align: middle">{{ curso.id }}</td>
            <td style="vertical-align: middle">{{ curso.nome }}</td>
            <td style="vertical-align: middle">{{ curso.duracao }}</td>
            <td style="vertical-align: middle">{{ curso.periodo }}</td>
            <td style="vertical-align: middle">
                <div class="text-center">
                    <a class="btn btn-primary btn-xs" data-toggle="tooltip" title="Alterar" href="#!/curso/alterar/{{curso.id}}">
                        &nbsp;<span class="glyphicon glyphicon-edit"></span>&nbsp;
                    </a>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="vm.remover(curso)" data-toggle="tooltip" title="Remover">
                        &nbsp;<span class="glyphicon glyphicon-remove"></span>&nbsp;
                    </button>                    
                    <!--
                    <a class="btn btn-danger btn-xs" data-toggle="tooltip" title="Remover" ng-click="vm.remover(curso.id)" >
                        &nbsp;<span class="glyphicon glyphicon-remove"></span>&nbsp;
                    </a>
                    -->
                </div>
            </td>
        </tr>
    </tbody>
</table>